.catalog-categories__list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin-bottom: 260px;
}

.catalog-categories__item {
  display: flex;
}

.catalog-categories__link {
  position: relative;
  padding-top: 193px;
  width: 160px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.catalog-categories__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 160px;
  background-color: #ffe17f;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-categories__link--virtual-reality::before {
  background-image: url("../img/svg/catalog-virtual-reality.svg");
}

.catalog-categories__link--monopods::before {
  background-image: url("../img/svg/catalog-monopods.svg");
}

.catalog-categories__link--cameras::before {
  background-image: url("../img/svg/catalog-camera.svg");
}

.catalog-categories__link--bracelets::before {
  background-image: url("../img/svg/catalog-braceletes.svg");
}

.catalog-categories__link--watches::before {
  background-image: url("../img/svg/catalog-watch.svg");
}

.catalog-categories__link--quadcopters::before {
  background-image: url("../img/svg/catalog-quadcopter.svg");
}
